@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #007BFF; /* Primary color */
    --secondary-color: #28A745; /* Secondary color */
    --accent-color: #FFC107; /* Accent color */
    --background-color: #F8F9FA; /* Light background color */
    --text-color: #343A40; /* Text color */
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    line-height: 1.5;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

section {
    padding: 2rem 5%;
    min-height: 100vh;
}

.heading {
    font-size: 4rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    text-transform: uppercase;
    position: relative;
}

.heading::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background: var(--secondary-color);
    margin-top: 1rem;
    transition
